*{
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif;
}
.corps{
    width: 100%;
    height: 100vh;
    background-image: url(img/paris3.webp);
    background-position: 0 0;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.tete{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15;
}
.ligne{
    display: flex;
    height: 88%;
    align-items: center;
}
.colonne{
    flex-basis: 50%;
}
p{
    color: white;
    font-size: 16px;
    line-height: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    width: 180px;
    color: goldenrod;
    background-color: orange;
    font-size: 12px;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
    transition-duration: 2s 2s;
}
button:hover{
    transform: rotate(720s );
}
.photo{
    width: 250px;
    height: 230px;
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px ;
    background-position: center;
    background-size: cover;
  transition-delay: 0s 1s;
    transition-duration: 2s;


}
.photo1{
    background-image: url(Img/ARC.jpg);
}
.photo2{background-image: url(Img/paris03.jpg);}
.photo3{background-image: url(Img/paris3.webp);}
.photo4{background-image: url(Img/paris2.jpg);}
.photo5{background-image: url(Img/paris01.jpg);}
.photo6{background-image: url(Img/PARIS\ CHATEAU.jpg);}

.photo:hover{
    transform: scaleY(1.3);
}
h2{
    color: antiquewhite;
    
}